---
var title = "Exposición PEP - Contacto"
import MainLayout from "../layouts/main-layout.astro";
import Form from "../components/Form.astro";
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/avatar.png" sizes="32x32" />
    <title>{title}</title>
  </head>
  <body
    ><MainLayout>
      <Form />
    </MainLayout>
  </body>
</html>
