---
import MainLayout from "../layouts/main-layout.astro"
import Intro from "../components/Intro.astro"
import Gallery from "../components/Gallery.astro"
import Testimonials from "../components/Testimonials.astro"
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" sizes="32x32" />
    <title>Exposicion PEP - Inicio</title>
  </head>
  <body>
<MainLayout>
  <Intro />
  <Gallery />
</MainLayout>
  </body>
</html>