<div class="parent-container">
    <!-- End iframe code -->
    <a href="https://docs.google.com/presentation/d/12auY15VKRZVmdxQXr91D0zqHrOyHSQmiAZ_1iG031z4/edit" target="_blank"
       class="text-blue-500 mobile-slides">Toca aquí para ver la presentación
    </a>
</div>
<div>
    <!-- Paste your iframe code here -->
    <iframe class="desktop-slides"
            src="https://docs.google.com/presentation/d/12auY15VKRZVmdxQXr91D0zqHrOyHSQmiAZ_1iG031z4/embed?start=false&loop=false&delayms=3000"
            frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
            webkitallowfullscreen="true"></iframe>
</div>


<style>
    .parent-container {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .desktop-slides {
        display: none;
    }
    @media (max-width: 768px) {


        .mobile-slides {
            display: block;
            position: absolute;
            top: -20px; /* Moves the element up by 20px */
            z-index: 1000;
        }
    }

    @media (min-width: 769px) {
        .mobile-slides {
            display: none;
        }
    }
</style>